WORKSPACE=35536700027
PROJECT=your_project_uuid_code
API_KEY=your_api_code
TEAM_NAME=your_team_name

#
# Note that using quotes around a value will cause the program to fail, so do not use quotes around the values in this file.
# As a result, if you have a value that contains spaces, you will need to replace the spaces with underscores or some other character that does not require quotes.
#
